@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Autenticação JWT</h1>
    <p>Autenticação e autorização com token JWT armazenado em Cookie</p>
</div>

<div class="text-justify mt-5">
    <p>Este exemplo demonstra como implementar a autenticação e a autorização com Token JWT em uma Razor Pages.</p>
    <p>Normalmente, usa-se este modelo de autenticação com Web API, porém este exemplo não faz uso de API's.'.</p>
    <p>A Razor Page usada é a padrão que o Visual Studio gera automaticamente, pois o foco deste exemplo é apenas a demonstração do Token JWT neste contexto.</p>
</div>
